.kt_app_root-login{

    display: flex;
    width: 100%;
    padding-right: 30px;
}
						
.br-t-3
{
    border-top: 1px solid #fff;
    width: 290px;
    margin: 0px auto;
}
.br-b-1
{
border-bottom: 1px solid #e2e2e2;
width: 100%;
margin: 0px auto;
padding-bottom: 20px;
}
.app-sidebar .app-sidebar-logo {
border-bottom: 1px solid var(--kt-primary) !important;
}
.footer-label
{
    color:#f3f3f396 !important;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.f-15
{
    font-size: 15px !important;
}

.login-div {
    background: #00121ede !important;

}
.download-menu-item
{
    padding: 0px !important;
}
.download-menu-item li
{
    list-style: none;
    display: inline-flex;

}
.download-menu-item li a
{
    text-decoration: underline;
    cursor: pointer;
}
.color-green
{
    color: var(--kt-success) !important;
}
.color-orange
{
    color: var(--kt-warning) !important;
}
.color-blue
{
    color: var(--kt-info) !important;
}
.color-red
{
    color: var(--kt-danger) !important;
}
.color-theme
{
    color: #990a5e !important;
    
}

.color-white
{
    color: #fff !important;
    
}

.bg-green
{
    background-color:var(--kt-success)!important;
}
.bg-orange
{
    background-color: var(--kt-warning) !important;
}
.bg-blue
{
    background-color: var(--kt-info) !important;
}
.bg-red
{
    background-color: var(--kt-danger) !important;
}
.bg-cyan
{
    background-color: #00bcd4 !important;
}
.bg-orange-dark
{   
    background-color: #f66505 !important;     
}

.bg-blue-dark
{   
    background-color: #085765 !important;     
}
.bg-purple-dark
{   
    background-color: #da3b73 !important;     
}
.bg-cyan-dark
{   
    background-color: #08a582 !important;     
}





.span-calender
{
    background-color: #f5f5f5;
    border-radius: 0px;
}
.span-calender.active
{
    color: #fff;
    border-color: #f1416c;
    background-color:#f1416c !important;
}
.span-calender.active span
{
    color: #fff !important;
}
.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.flex-grow-1 {
    position: relative;
}
.view-title span
{
    border-bottom: 0px solid #009ef7;
    text-decoration: underline;;
    cursor: pointer;
}

.bullet-vertical
{
    background-color: #d5d5d5 !important;
}
.blue-border-bottom
{
    border-bottom: 1px solid  #009ef7 !important;
}
.multi-list
{
    min-height: 325px;
    width: 100%;
    border: 0;
    padding: 10px;
    outline: 1px solid #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}


.contextual-progress {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
  
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.progress-title{
    float: left;
    color: #7E8299 ;
    font-weight: 500;
}

.progress-label {
    float: right;
    color: #7E8299;
    font-weight: 500;
}

.progress {
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 5px;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    line-height: 5px;
    color: white;
    text-align: center;
    transition: width 0.6s ease;
    border-radius: 10px;
}

.progress-bar-success {
    background-color: #45ab48;
}

#to-right:disabled {

    background-color: #666;
    opacity: 0.5; /* Reduce opacity */
    cursor: not-allowed; /* Change cursor to not-allowed */
    /* Optionally add more styles */
}

#to-left:disabled {

    background-color: #666;
    opacity: 0.5; /* Reduce opacity */
    cursor: not-allowed; /* Change cursor to not-allowed */
    /* Optionally add more styles */
}

#seat_allocate_error
{
    display: none;
    color: #fff;
    background-color: #E53935;
    padding: 10px 20px;
    font-weight: 300;
    line-height: 1;  
    border-radius: 3px;
    position: relative;
    top: 17px;
}

.error-div
{
    outline: 1px solid #F44336;
    background: #f4433614;

}
.error-div option:checked
{
    background: #f4433687;
}
.error-text
{
    color:  #F44336 !important;
}

.br-1e
{
    border-right: 1px solid #eff2f5 !important;
}
.br-0
{
    border:none !important;
}

#examscheduletable.gs-0 td:first-child
{
    border-right: 1px solid #eff2f5 !important;
}
#scheduletable.gs-0 td:nth-child(2) {
    border-right: 0px solid #eff2f5 !important;
}
#scheduletable
{
    max-width: 99% !important;
    margin: 0px auto;
}
#scheduletable thead
{
    display: none !important;
}
.align-right {
    text-align: right;
    justify-content: flex-end; /* Flexbox specific property */
}

.align-right li {
    display: inline-block;
}

.max-w-30
{
    width: 25% !important;
    max-width: 30% !important;
}
.br5-pl-15
{
border-left: 2px solid #d5d5d5;
padding-left: 10px;
margin-left: 10px;
}

ul{
    list-style-type: none; /* Remove default list styling */ 
   /* display: flex;*/
}
.download-menu-item {
    list-style-type: none; /* Remove default list styling */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 1rem 0;
}

.align-left {
    margin-right: auto; /* Pushes the rest of the content to the right */
}

.download-menu-item li {
    display: flex;
    align-items: center;
}

.ml-32px
{
    margin-left: 32px !important;
}
 
/* Seat View*/

.room-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-container {
    padding: 30px 50px 30px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid #d4d3d3;
    width: 100%;
}
.room {
    display: grid;
    grid-template-columns: var(--grid-template-columns); /* Use CSS variable */
    grid-gap: 20px; /* Adjust the gap as needed */
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.seat {
    width: 100%; /* Adjust width to take full space of the grid cell */
    height: 40px;
    border: 1px solid #d4d3d3;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: transform 0.2s;
    padding: 5px 3px;
}
.seat:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.seat .icon {
    font-size: 20px; /* Icon size */
    margin-bottom: 5px;
}
.seat .roll-number {
    font-size: 11px; /* Text size */
    font-weight: bold;
    max-width: 80px;
    text-align: center;
    word-wrap: break-word;
}
.legend {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 2.25rem;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Seat View End*/

button.btn-close {
    background: #F44336;
    color: #fff;
    font-size: 18px;
    line-height: 12px;
    border-radius: 50%;
    opacity: 1;
    font-weight: bold;    
    width: 12px;
    top: 0px !important;
    position: absolute;
    right: 0px !important;
}

button.btn-close:hover{
    color: #fff !important; 
}

.modal-fullscreen {
    width: auto !important;
    max-width: 95vw !important;
    height: 95vw !important;
    margin: 0 auto !important;
    margin-top: 5vh !important;
}
.modal-fullscreen .modal-content {
    height: 95vh !important;
}
.disabled-links li a
{
    color: #c9c9c9 !important;
    cursor: no-drop;
    pointer-events: none;
}

.disabled-input
{
    cursor: no-drop;
    pointer-events: none;
}

/* Hide focus outline */
.disabled-input:focus {
    outline: none;
  }

  /* Optional: Prevent the input from being focusable via keyboard */
  .disabled-input:focus-visible {
    outline: none;
  }

.disabled-links li a i
{
    color: #c9c9c9 !important;
    cursor: no-drop;
}
.batch-checkbox,#select-all
{
    cursor: pointer;
}
.seatsAvailable
{
    color: #45ab48 !important;
    margin-left: 2px;
}
.light-green
{ 
    color: #50cd89 !important;

}
.light-orange {
    color: #FFC107 !important;
}
.table td
{
    font-weight: 400 !important;
}

table th {
    text-transform: uppercase !important;
    color: #3f4254 !important;
}
.table td, .table th, .table tr
{
    font-size: 13px !important;
}
.br-right
{
    border-right: 1px solid #eff2f5  !important;
    border-radius: 0;
}
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--group .select2-results__option
{
    text-indent: 20px;
    padding-bottom: 0px;
    font-size: 14px;
  
}
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--group
{
    padding-bottom: 0px !important;
    font-size: 15px !important;
}
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--group .select2-results__group
{
    font-size: 15px !important;
}

.legend-label
{
    position: relative;
    top: -14px;
    background: #009ef7;
    padding: 4px 20px;
    color: #fff !important;
    border-radius: 5px;

}

.note-editor.note-airframe, .note-editor.note-frame
{
    border: 1px solid var(--kt-input-border-color) !important;
    border-radius: 5px;
}

.note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar {
    background-color: hsl(0deg 0% 96.06% / 11%) !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid var(--kt-input-border-color) !important;
}

.txt-uppercase
{
    text-transform: uppercase;
}
.txt-capitalcase
{
    text-transform: capitalize;
}
.list-disc
{
    list-style:disc;

}
.border-top-grey
{
    border-top: 1px solid #454545 !important;
}
.swal-title
{
    font-size: 20px !important;
}
.swal-text {
    text-align: center;
}
.bg-body-color
{
background-color: #f5f8fa !important;
}

div#swal2-html-container {
    padding-bottom: 30px;
    line-height: 23px;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100% !important;
    }
}


.overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    /* Optional: to dim the background */
    z-index: 9999;
    /* Ensure it appears above other content */
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #990a5e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn
{
    background-color: #adadad !important;
}
.form-check-label, .form-check-input
{
    cursor: pointer !important;
}

.v-align-baseline {
    vertical-align: baseline;
}

.v-align-top {
    vertical-align: top;
}

.v-align-middle {
    vertical-align: middle;
}

.v-align-bottom {
    vertical-align: bottom;
}

.v-align-text-top {
    vertical-align: text-top;
}

.v-align-text-bottom {
    vertical-align: text-bottom;
}

.v-align-sub {
    vertical-align: sub;
}

.v-align-super {
    vertical-align: super;
}

.table-responsive table td
{
    vertical-align: top !important;
}
.h-300
{
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    cursor: pointer;
}

span#error-balance {
    background-color: #fff0f5;
    padding: 10px;
    color: #e35858;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px;
}
.symbol-label
{
text-transform: uppercase;
}
.rejected-span
{
    cursor: pointer;
}

#reasoncmt {
    font-size: 15px;
}

text#SvgjsText1015 {
    font-size: 25px !important;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Optional: space between the tiles */ 
  }

.video-tile {
    background: #f3f6f8;
    padding: 20px 20px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    align-items: center;
    max-width: 100%; /* Allow tiles to scale with the container */
    flex-grow: 1; /* Allow tiles to grow equally */
}
.video-tile h5
{
    text-transform: capitalize;
}
.video-tile .description
{
    width: 100%;
}
video {
    border-radius: 2px;
}
.db-date-span
{
    position: absolute;
    bottom: 20px;
    color: #fff;
}
.br-radius-50
{
    border-radius: 50% !important;
}
#categorytable 
{
    border-bottom: 1px solid #e4e6ef;
}

#categorytable tr
{
    border-bottom: 1px solid #e4e6ef !important;
}

#categorytable td
{
    vertical-align: middle !important;
    font-size: 1rem !important;
    color:  #000 !important;
    padding: 0px 0px !important;
    border-right: 1px solid #e4e6ef !important;
    text-indent: 10px;
}
#categorytable td p.allocated
{
    margin: 0px ;
}
p.sub-cat-disp {
    border-bottom: 1px solid #e4e6ef;
    padding: 5px 10px;
    margin: 0px;
    border-top: 0px;
}
p.sub-cat-disp:last-child {
    border-bottom: none;
}
p.sub-expense-disp {
    border-bottom: 1px solid #e4e6ef;
    padding: 5px 10px;
    margin: 0px;
    border-top: 0px;
    text-align: right;
}

p.sub-expense-disp:last-child {
    border-bottom: none;
}
a.btn.btn-sm.btn-icon.btn-color-white.btn-active-white.btn-active-color-primary.border-0.me-n3
{
    border-radius: 50%;

}
a.btn.btn-sm.btn-icon.color-blue.btn-active-primary.btn-active-color-white.border-0.me-n3
{
    border-radius: 50%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* For screens wider than 1080px */
@media (min-width: 1080px) {
    .video-tile {
      max-width: calc(33.33% - 20px); /* 3 tiles per row with space between */
    }
  }
  
  /* For screens between 900px and 1080px */
  @media (min-width: 900px) {
    .video-tile {
      max-width: calc(33.33% - 20px); /* Same layout for medium-large screens */
    }
  }
  
  /* For screens between 768px and 900px */
  @media (min-width: 768px) {
    .video-tile {
      max-width: calc(33.33% - 20px); /* 3 tiles per row on medium screens */
    }
  }
  
  /* For screens smaller than 768px (e.g. mobile) */
  @media (max-width: 767px) {
    .video-tile {
      max-width: 100%; /* Stack the tiles on top of each other */
    }
  }